//Root Variables for Global Styling */
:root {
    /* Color Palette */
    --primary-color: #349de3;
    --hoverColor: #91c4e7;
    --whiteColor: #ffff;
    --blackColor: hsl();
    --background-color: #f4f4f9;
    --text-color: #333;
    --greyText: #898989;
    --inputColor: hsl(330, 12%, 97%);
    --lightBlueColor:#ADD8E6;
    --midnightBlueColor:#272757;
    --darkRedColor:#950606;
    /* Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;

    --font-primary: 'Noto Sans Thai', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  }
.main-container{
  // max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
  height: 100%;
  max-height: 1100px;
}
.body{
    width: 100%;
    font-family: var(--font-primary);
  }
.container{
    position: relative;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
  }
  @media (max-width: 1300px) {
    body, .main-container {
      max-width: 100vw;
    }
  }