
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

//Root Variables for Global Styling */
:root {
  /* Color Palette */
  --primary-color: #349de3;
  --hoverColor: #91c4e7;
  --whiteColor: #ffff;
  --blackColor: hsl();
  --background-color: #f4f4f9;
  --text-color: #333;
  --greyText: #898989;
  --inputColor: hsl(330, 12%, 97%);
  --lightBlueColor:#ADD8E6;
  --midnightBlueColor:#272757;
  --darkRedColor:#950606;
  /* Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.welcome-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.exercise-image {
  width: 60%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.welcome-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.highlight {
  color: #00bfff; /* สีฟ้า */
}

.welcome-container p {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.welcome-container .button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.welcome-container .btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.button-container .btn-login {
  background-color: #00bfff;
}

.button-container .btn-register {
  background-color: #007bff;
}

.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
html {
  font-size: 90%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}
img,
video {
  height: auto;
  width: 100%;
}
.message {
  display: none;
}
.showMessage {
  display: block;
  color: var(--whiteColor);
  background-color: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--whiteColor);
}
.btn .icon {
  margin-left: 0.5rem;
}
.btn:hover {
  color: var(--primary-color);
  background-color: var(--hoverColor);
}
@media screen and (max-width: 602px) {
  .loginPage, .registerPage{
    .containers ,.registercontainer {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .videoDiv{
        width: 100%;
        .textDiv{
          .title{
            font-size: 20px;
          }

          p{
            padding: 1rem;
          }
        }

        .footerDiv{
          .text{
            font-size: 12px;
          }

          .btn{
            padding: .4rem 1.5rem;
          }
        }
      }

      .formDiv{
        gap:1rem;
        transform: translateY(-.5rem);

        .headerDiv{
          padding: 1rem 0;

          img{
            width: 40px;
          }

          h3{
            font-size:20px ;
          }
        }

        .form{
          gap: .5rem;

          .inputDiv{
            input{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .loginPage, .registerPage{
    .containers , .registercontainer{
     
      .videoDiv{
        .textDiv{
          .title{
            font-size: 25px;
          }

          p{
            padding: 1rem;
          }
        }

        .footerDiv{
          .text{
            font-size: 12px;
          }

          .btn{
            padding: .8rem 1.5rem;
          }
        }
      }

      .formDiv{
        .headerDiv{
          padding: 1.5rem 0;


          h3{
            font-size:20px ;
          }
        }

        .form{

          .inputDiv{
            input{
              width: 100%;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 927px) {
  .loginPage, .registerPage{
    .containers , .registercontainer{
      width: 85% ;
    }
  }
}